doctype html
head
    meta(charset='UTF-8')
    title Call Center
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='css/common.css')
    style.
        * {
            color: white;
        }

        html, body {
            width: 100%;
            height: 100%;
            background-color: #2f2f2f;
        }

        /*Layer 1*/
        .bg {
            position: fixed;
            width: 100%;
            height: 100%;
            right: 0;
            z-index: 1;
            overflow: hidden;
        }

        /*Layer 2*/
        .main {
            position: relative;
            z-index: 2;
            background-color: transparent;
        }

        footer {
            position: fixed;
            bottom: 0;
        }

        #log {
            flex-direction: column;
            height: 100%;
            overflow-y: scroll;
        }
.bg
    #log.h-100.d-flex.justify-content-center.align-items-center
        h1 404
        p
            span
                | Not Found. The Requested URL not found on Call Center
.main
    main
    footer
        .p-5
            p.mb-0
                | All Rights Reserved © Sale Shale
